opencv-python
mediapipe
numpy
pandas
scikit-learn
matplotlib
streamlit
pyttsx3
vosk
langdetect
transformers
torch
mediapipe
numpy
pandas
scikit-learn
matplotlib
streamlit
pyttsx3
gtts
opencv-python
playsound
threading
pickle
edge_tts
asyncio
pydub
vosk
langdetect
webrtcvad
streamlit-webrtc
sounddevice
vosk
faster-whisper
webrtcvad
