opencv-python
mediapipe
numpy
pandas
scikit-learn
matplotlib
streamlit
pyttsx3
vosk
langdetect
transformers
torch
mediapipe
numpy
pandas
scikit-learn
matplotlib
streamlit
pyttsx3
vosk
langdetect
webrtcvad
streamlit-webrtc
sounddevice
vosk
faster-whisper
webrtcvad
